<script setup lang="ts">
    import _ from 'lodash';

    import { Ref, ref, reactive, computed ,onMounted } from 'vue';

    import { useAccountStore } from '../stores/account_store';
    import { getDateFormat, showRespondStatus } from '../service/basic';
    import { IAccount } from "../interfaces/account_interface";
    import { ISnackbar } from "../interfaces/basic_interface";

    const accountStore = useAccountStore();

    const account: IAccount = reactive({
        name: '',
        surname: '',
        patronymic: '',
        birthday: '',
        sex: null,
        email: null,
    }); 

    const snackbar: ISnackbar = reactive({
        is_visible: false,
        text: '',
        color: 'rgba(255, 82, 82, 0.9)',
        timeout: 4e3,
        errors: []
    });

    const role_ids: Ref<number[]> = ref([]);
    const token = document.querySelector('[name=csrf-token]').content;
    const form_account: Ref<any> = ref(null);
    const progress_line: Ref<boolean> = ref(false);
    const progress_line_form: Ref<boolean> = ref(false);
    const is_active_destroy_dialog: Ref<boolean> = ref(false);
    const submit_type: Ref<number> = ref(0);
    const current_id: Ref<number> = ref(0);
    const current_destroy_id: Ref<number> = ref(0);
    const menu_date_birthday: Ref<boolean> = ref(false);
    const show_form_password: Ref<boolean> = ref(true);
    const type_show_password: Ref<string> = ref('password');
    
    const surname_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите фамилию',
    ]);
    const name_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите имя',
    ]);
    const patronymic_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите отчество',
    ]);    
    const birthday_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите дату',
    ]);
    const email_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите почту',
        v => /.+@.+\..+/.test(v) || 'Не корректный e-mail ',
    ]);
    const password_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите пароль',
        v => (v && v.length >= 9) || 'Короткий пароль',
    ]);
    const role_rules: Ref<any[]> = ref([
        v => !_.isEmpty(v) || 'Укажите роль',
    ]);

    onMounted((): void => {
        progress_line.value = true;
        loadObjects();
        accountStore.loadRoles();
    });

    const birthday_end = computed<Date | null>({
        get: function(){
            return (account.birthday ? new Date(Date.parse(account.birthday)) : null);
        },
        set: function(newValue: string){
            account.birthday = newValue;
            menu_date_birthday.value = false;
        }
    });

    const birthday_end_view = computed<string | null>({
        get: function(){
            return (account.birthday ? getDateFormat(account.birthday) : null);
        },
        set: function(newValue){
        }
    });

    const loadObjects = (): void => {
        accountStore.loadAccounts()
            .then((respond) => {
                showRespondStatus(
                    respond.status_error,
                    respond.message_error,
                    'Список пользователей загружен',
                    'Ошибка загрузки списка пользователей',
                    false,
                    false,
                    loadObjects,
                    clearObject,
                    snackbar
                );
        }).finally(() => {
            progress_line.value = false;
        });
    }

    const showDialogObject = (id: number): void => {
        let current_data = _.cloneDeep(accountStore.accounts.find(account => account.account.id == id));
        Object.assign(account, current_data.account);
        role_ids.value = current_data.role_ids;
        accountStore.changeFlagDialog();
        submit_type.value = 1;
        current_id.value = id;
        show_form_password.value = false; 
    }

    const submitObject = (): void => {
        form_account.value.validate().then(e=>{
            if(e.valid){
                accountStore.changeFlagDialog();
                progress_line.value = true;
            
                if(submit_type.value == 0){
                    accountStore.createAccount(token, role_ids.value, account)
                        .then((respond)=>{
                            showRespondStatus(
                                respond.status_error,
                                respond.message_error,
                                'Пользователь успешно создан',
                                'Ошибка создания пользователя',
                                true,
                                true,
                                loadObjects,
                                clearObject,
                                snackbar
                            );
                    }).finally(() => {
                        progress_line.value = false;
                    });
                }else if(submit_type.value == 1){
                    accountStore.updateAccount(current_id.value, token, role_ids.value, account)
                        .then((respond)=>{
                            showRespondStatus(
                                respond.status_error,
                                respond.message_error,
                                'Пользователь успешно обновлен',
                                'Ошибка обновления пользователя',
                                true,
                                true,
                                loadObjects,
                                clearObject,
                                snackbar
                            );
                    }).finally(() => {
                        progress_line.value = false;
                    });
                }
            }
        });
    }

    const closeDialogObject = (): void => {
        accountStore.changeFlagDialog();
        clearObject();
    }

    const clearObject = (): void => {
        form_account.value.resetValidation();
        show_form_password.value = true; 
        submit_type.value = 0;
        clearAccount();
    }

    const clearAccount = (): void => {
        Object.assign(account, {
            name: '',
            surname: '',
            patronymic: '',
            birthday: '',
            sex: null,
            email: null,
        });

        role_ids.value = [];
    }

    const showDialogDestroy = (id: number): void => {
        is_active_destroy_dialog.value = true;
        current_destroy_id.value = id;
    }

    const destroyObject = (flag: boolean): void => {
        is_active_destroy_dialog.value = false;
        if(flag){
            progress_line.value = true;

            accountStore.destroyAccount(current_destroy_id.value, token)
                .then((respond)=>{
                    showRespondStatus(
                        respond.status_error,
                        respond.message_error,
                        'Пользователь успешно удален',
                        'Ошибка удаления пользователя',
                        true,
                        false,
                        loadObjects,
                        clearObject,
                        snackbar
                    );
            }).finally(() => {
                        progress_line.value = false;
                    });
        }
        current_destroy_id.value = 0;
        // удалять все связаное с ним
    }

    const changePerformancePassword = (): void => {
        if(type_show_password.value == "password"){
            type_show_password.value = "text";
        }else{
            type_show_password.value = "password";
        }
    }

    const changeFromPassword = (): void => {
        show_form_password.value = !show_form_password.value;
    }

    const generatePassword = (): void => {
        progress_line_form.value = true;
        accountStore.genPassword()
            .then((respond)=>{
                showRespondStatus(
                    respond.status_error,
                    respond.message_error,
                    'Пароль сгенерирован',
                    'Ошибка создания пароля',
                    false,
                    false,
                    loadObjects,
                    clearObject,
                    snackbar
                );
                progress_line_form.value = false;
            });
    }

    const isAdmin = (role: string): boolean => {
           return role == 'Администратор';
    }
</script>



<template>
    <v-snackbar v-model="snackbar.is_visible"
                :color="snackbar.color"
                :timeout="snackbar.timeout"
                location="bottom left"
    >
        {{ snackbar.text }}
        <ul style="margin-left: 25px">
            <li v-for="item in snackbar.errors" :key="item.id">{{ item }}</li>
        </ul>
        <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar.is_visible = false"
            >
                <v-icon>mdi-close-thick</v-icon>
            </v-btn>
        </template>
    </v-snackbar>

    <v-progress-linear color="teal-darken-1"
                       indeterminate
                       v-if="progress_line"
    ></v-progress-linear>

    <v-table>
        <thead>
            <tr>
                <th class="text-left">Фамилия</th>
                <th class="text-left">Имя</th>
                <th class="text-left">Отчество</th>
                <th class="text-left">Роль</th>
                <th class="text-left">E-mail</th>
                <th class="text-left">Редактировать</th>
                <th class="text-left">Удалять</th>
            </tr>
        </thead>
        <tbody v-if="accountStore.accounts.length">
            <tr v-for="(item, index) in accountStore.accounts" :key="item.id">
                <td>{{ item.account.surname }}</td>
                <td>{{ item.account.name }}</td>
                <td>{{ item.account.patronymic }}</td>
                <td>{{ item.roles_name}}</td>
                <td>{{ item.account.email }}</td>
                <td>
                    <v-btn
                            :color="(isAdmin(item.roles_name) ? 'grey-darken-1' : 'teal-darken-1')"
                            :disabled="isAdmin(item.roles_name)"
                            @click="showDialogObject(item.account.id)"
                            size="small"
                            icon

                    >
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </td>
                <td>
                    <v-btn
                            :color="(isAdmin(item.roles_name) ? 'grey-darken-1' : 'red-lighten-2')"
                            :disabled="isAdmin(item.roles_name)"
                            @click="showDialogDestroy(item.account?.id)"
                            size="small"
                            icon
                    >
                        <v-icon>mdi-trash-can-outline</v-icon>
                    </v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>

    <v-row justify="center">
        <v-dialog v-model="accountStore.is_active_account_dialog" persistent max-width="700px">
            <v-card>
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Пользователь</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-form ref="form_account" lazy-validation>
                            <v-row>
                                <v-col class="padding_col" cols="12" md="4">
                                    <v-text-field
                                            label="Фамилия"
                                            v-model="account.surname"
                                            :rules="surname_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="4">
                                    <v-text-field
                                            label="Имя"
                                            v-model="account.name"
                                            :rules="name_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="4">
                                    <v-text-field
                                            label="Отчество"
                                            v-model="account.patronymic"
                                            :rules="patronymic_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="6" >
                                    <v-menu
                                            v-model="menu_date_birthday"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                    >
                                        <template v-slot:activator="{ props }">
                                            <v-text-field
                                                    label="Дата рождения"
                                                    prepend-icon="mdi-calendar"
                                                    variant="outlined"
                                                    v-model="birthday_end_view"
                                                    :rules="birthday_rules"
                                                    v-bind="props"
                                                    readonly
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                                location="ru-ru"
                                                v-model="birthday_end"
                                                :hide-header="true"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="6">
                                    <v-select
                                            label="Пол"
                                            v-model="account.sex"
                                            :items="accountStore.sex_items"
                                            variant="outlined"
                                    ></v-select>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-text-field
                                            label="E-mail"
                                            v-model="account.email"
                                            :rules="email_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-autocomplete
                                            label="Роль"
                                            v-model="role_ids"
                                            :items="accountStore.roles"
                                            :rules="role_rules"
                                            item-value="id"
                                            variant="outlined"
                                            closable-chips
                                            multiple
                                            chips
                                    >
                                        <template v-slot:chip="{ item }">
                                            <v-chip
                                                    variant="flat"
                                                    size="small"
                                                    :text="item?.raw?.name"
                                            ></v-chip>
                                        </template>
                                        <template v-slot:item="{ props, item }">
                                            <v-list-item
                                                    v-bind="props"
                                                    :title="item?.raw?.name"
                                            >
                                            </v-list-item>
                                        </template>
                                        <template v-slot:no-data >
                                            <div class="not_data">
                                                Нет данных
                                            </div>
                                        </template>
                                    </v-autocomplete>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="6" v-if="show_form_password">
                                    <v-text-field
                                            label="Пароль"
                                            v-model="accountStore.password"
                                            :rules="password_rules"
                                            :type="type_show_password"
                                            autocomplete="new-password"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="6" v-else>
                                    <v-btn
                                            color="teal-darken-1"
                                            icon
                                            @click="changeFromPassword()"
                                    >
                                        <v-icon>mdi-key-chain</v-icon>
                                    </v-btn>
                                </v-col>
                                <v-col class="padding_col" cols="12" md="6" v-if="show_form_password">
                                    <v-btn
                                            color="brown-lighten-1"
                                            icon
                                            @click="changePerformancePassword()"
                                            style="margin-right:15px"
                                    >
                                        <v-icon v-if="type_show_password == 'password'">mdi-eye</v-icon>
                                        <v-icon v-else>mdi-eye-off</v-icon>
                                    </v-btn>
                                    <v-btn
                                            color="teal-darken-1"
                                            icon
                                            @click="generatePassword()"
                                            style="margin-right:15px"
                                    >
                                        <v-icon>mdi-auto-fix</v-icon>
                                    </v-btn>
                                    <!--<v-btn
                                            color="grey-darken-1"
                                            icon
                                            @click="accountDataPDF()"
                                            style="margin-right:15px"
                                    >
                                        <v-icon>mdi-file-download</v-icon>
                                    </v-btn>-->
                                    <v-btn
                                            color="red-lighten-2"
                                            icon
                                            v-if="submit_type != 0"
                                            @click="changeFromPassword()"
                                            style="margin-right:15px"
                                    >
                                        <v-icon>mdi-undo-variant</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="closeDialogObject()"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="submitObject()"
                    >
                        Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
            <v-progress-linear indeterminate color="blue" v-if="progress_line_form"></v-progress-linear>
        </v-dialog>
    </v-row>

    <v-row justify="center">
        <v-dialog v-model="is_active_destroy_dialog" persistent max-width="450">
            <v-card style="height: 200px">
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Удаление</span>
                </v-card-title>
                <v-card-text>Вы действительно хотите удалить пользователя?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="destroyObject(false)"
                            v-on:keyup.27="destroyObject(false)"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="destroyObject(true)"
                            v-on:keyup.13="destroyObject(true)"
                    >
                        Удалить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style>
    .not_data{
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
    }
</style>
