<template>
    <h1>app settings</h1>
</template>

<script  lang="ts">
    import { defineComponent } from 'vue';

    export default  defineComponent({
        name: 'app-setting',
        data: () => ({


        }),
        methods: {

        }
    })

</script>

<style>

</style>
