<template>
    <v-layout>
        <v-navigation-drawer

                v-model="drawer"
                temporary
                app
        >
            <v-list v-if="is_load">
                <v-list-item
                        :title="getFullName()"
                        :subtitle="accountStore.current_account.account.email"
                        style="padding-right: 0px;"
                >
                    <template v-slot:prepend>
                        <v-avatar :color="current_color_avatar" size="42" >
                            <span class="white&#45;&#45;text headline">{{getInitials()}}</span>
                        </v-avatar>
                    </template>
                </v-list-item>
            </v-list>
            <v-skeleton-loader v-else
                               type="list-item-avatar-two-line"
            >
            </v-skeleton-loader>

            <v-divider class="border-opacity-25"></v-divider>

            <v-list density="compact" nav >
                <template  v-for="item in menu_drawer_items" :key="item.title">
                    <v-list-item
                            link
                            v-if="checkAccess(item.show_role)"
                            :to="item.link"
                            :prepend-icon="item.icon"
                            :title="item.title"
                            :value="item.title"
                    ></v-list-item>
                    <v-skeleton-loader
                            v-if="!is_load"
                            type="list-item"
                    >
                    </v-skeleton-loader>
                </template>
            </v-list>

        </v-navigation-drawer>
        <v-app-bar app class="bg-blue-grey-darken-3" dark>
            <v-app-bar-nav-icon
                    v-if="accountStore.current_account.roles.length && !checkAccess(['executor'])"
                    @click.stop="drawer = !drawer"
                    icon="mdi-home"
            >
            </v-app-bar-nav-icon>
            <v-toolbar-title>toDo List AmSU</v-toolbar-title>
            <v-text-field
                    v-if="showSearchField()"
                    density="compact"
                    variant="solo"
                    append-inner-icon="mdi-magnify"
                    single-line
                    hide-details
                    @click:append-inner="getSearch()"
                    v-model="question"
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn
                    v-if="accountStore.current_account.roles.length && checkAccess(['executor'])"
                    icon
                    href="/app#/settings">
                <v-icon>mdi-cog</v-icon>
            </v-btn>
            <v-btn icon @click="addDialog">
                <v-icon>mdi-plus-thick</v-icon>
            </v-btn>
            <v-btn icon href="/accounts/sign_out" data-method="delete" rel="nofollow">
                <v-icon>mdi-logout</v-icon>
            </v-btn>
        </v-app-bar>

        <v-main style="width:100%">
            <router-view></router-view>
        </v-main>

        <v-footer>
        </v-footer>
    </v-layout>
</template>

<script  lang="ts">
    import _ from 'lodash';

    import { defineComponent } from 'vue';
    import { mapActions, mapStores } from 'pinia'

    import { useProjectStore } from '../stores/project_store'
    import { useIssueStore } from "../stores/issue_store";
    import { useSprintStore } from "../stores/sprint_store";
    import { useAccountStore } from "../stores/account_store";
    //докуинуть что с аккаунтом связано в компонент
    //icon="mdi-reorder-horizontal"

    interface iMenuDrawerItem {
                title: string
                icon: string
                link: string
                show_role: string[]
    }

    export default defineComponent({
        name: 'base-layout',
        data: () => ({
            drawer: false as boolean,
            question: '' as string,
            is_load: false as boolean,

            //присеты "мои задачи" и тд
            menu_drawer_items: [
               /* { title: 'Инфопанель', icon: 'mdi-view-dashboard-variant', link: '/dashboard', show_role: ["administrator","supervisor","manager_project"] },*/
                { title: 'Задачи', icon: 'mdi-order-bool-descending-variant', link: '/issues', show_role: ["administrator","supervisor","manager_project","executor"] },
                { title: 'Проекты', icon: 'mdi-routes', link: '/projects', show_role: ["administrator","supervisor","manager_project"] },
                { title: 'Спринты', icon: 'mdi-timer', link: '/sprints', show_role: ["administrator","supervisor","manager_project"] },
                { title: 'Пользователи', icon: 'mdi-account-multiple', link: '/accounts', show_role: ["administrator","supervisor"] },
                { title: 'Настройки', icon: 'mdi-cog', link: '/settings', show_role: ["administrator","supervisor"] },
            ] as  iMenuDrawerItem[],
            current_color_avatar: '' as string,
            color_avatar: ['indigo-darken-1',
                           'teal-darken-3',
                           'grey-darken-1',
                           'blue-darken-3',
                           'cyan-darken-3',
                           'green-darken-1',
                           'blue-grey-darken-2',
                           'brown-darken-1',
                           'deep-purple-darken-4',
                           'red-darken-3'
                        ] as string[],
        }),
        mounted() {
            this.generateColorAvatar();
            // setTimeout(() => {
                this.loadCurrentAccount();
            // }, 6000);

        },
        computed: {
            ...mapStores(useProjectStore),
            ...mapStores(useAccountStore)
        },
        watch:{
            'question': function(newValue: string, oldValue: string): void{
                this.loadIssue(newValue);
            },
            'accountStore.current_account.account': function(newValue: string, oldValue: string): void{

                if('name' in this.accountStore.current_account.account){this.is_load = true}
            },
        },
        methods: {
            ...mapActions(useAccountStore, {
                loadCurrentAccount: 'loadCurrentAccount',
                changeAccountFlagDialog: 'changeFlagDialog',
            }),

            ...mapActions(useProjectStore, {
                changeProjectFlagDialog: 'changeFlagDialog',
            }),

            ...mapActions(useSprintStore, {
                changeSprintFlagDialog: 'changeFlagDialog',
            }),

            ...mapActions(useIssueStore, {
                changeIssueFlagDialog: 'changeFlagDialog',
                changeProgressLine: 'changeProgressLine',
                loadIssue: 'loadIssue',
            }),


            addDialog(): void{
                if(window.location.hash.includes("/project")){
                    this.changeProjectFlagDialog();
                }else if(window.location.hash.includes("/sprints")){
                    this.changeSprintFlagDialog();
                }else if(window.location.hash.includes("/issues")){
                    this.changeIssueFlagDialog();
                }else if(window.location.hash.includes("/accounts")){
                    this.changeAccountFlagDialog();
                }
            },

            showSearchField(): boolean{
                return window.location.hash.includes("/issues");
            },

            getSearch(): void{
                this.changeProgressLine();
            },

            generateColorAvatar(): void{
                let min = Math.ceil(0);
                let max = Math.floor(9);
                let ran_number = Math.floor(Math.random() * (max - min)) + min;
                this.current_color_avatar = this.color_avatar[ran_number];
            },

            getInitials(): string{
                let answer = '';
                if( "name" in this.accountStore.current_account.account){
                    if(this.accountStore.account.surname == 'Администратор'){
                        answer = 'А';
                    }else{
                        answer = `${this.accountStore.current_account.account.surname[0]} ${this.accountStore.current_account.account.name[0]}`;
                    }
                }
                return answer;
            },

            getFullName(): string{
                return  `${this.accountStore.current_account.account.surname } ${(this.accountStore.current_account.account.name ? this.accountStore.current_account.account.name.charAt(0)+'.' : '')} ${(this.accountStore.current_account.account.patronymic ? this.accountStore.current_account.account.patronymic.charAt(0)+'.' : '')}`
            },

            checkAccess(roles_menu: string[]): boolean{
                return this.accountStore.current_account.roles.filter((role) => {return roles_menu.includes(role)}).length
            }
        }
    })

</script>

<style>
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(246, 246, 246, 0.5);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(229, 229, 229, 1);
        border-radius: 20px;
        /*border: 5px solid #fff;*/
    }
    input[type=time]::-webkit-inner-spin-button,
    input[type=date]::-webkit-inner-spin-button,
    input[type=date]::-webkit-calendar-picker-indicator {
        display: none;
    }
    html {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .not_data{
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .padding_col{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    /*look style from logistic*/
</style>
