<template>
    <v-snackbar v-model="snackbar"
                :color="color_snackbar"
                :timeout="timeout"
                location="bottom left"
    >
        {{ text_snackbar }}
        <ul style="margin-left: 25px">
            <li v-for="item in errors" :key="item.id">{{ item }}</li>
        </ul>
        <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar = false"
            >
                <v-icon>mdi-close-thick</v-icon>
            </v-btn>
        </template>
    </v-snackbar>

   <!-- <v-progress-linear color="teal-darken-1"
                       indeterminate
                       v-if="issueStore.progress_line"
    ></v-progress-linear>-->

<!--:subtitle="issue.discreption"-->
    <!--v-list lines="two">
        <v-list-item
                v-for="issue in issueStore.issues"
                :key="issue.id"
                :title="issue.title"
        >
            <template v-slot:prepend>
                <v-icon :icon="getIcon(issue.kind_id)"></v-icon>
            </template>
            <template v-slot:subtitle>
                <span>{{issue.discreption}}</span>
            </template>
        </v-list-item>
    </v-list-->
    <!--v-skeleton-loader
            loading="true"
            type="list-item-two-line"
    >
        <v-list-item
                title="Title"
                subtitle="Subtitle"
                lines="two"
                rounded
        ></v-list-item>
    </v-skeleton-loader-->

    <div style="margin-left: 30px; margin-right: 30px; margin-top: 30px;">
        <v-row justify="space-around">
            <v-col
                    cols="6"
            >
                <v-sheet style="border: 1px solid">
                    <v-row align="center">
                        <v-col
                                cols="12"
                                class="py-2"
                        >

                            <v-btn-toggle
                                    v-model="toggle_multiple"
                                    background-color="primary"
                                    dark
                                    multiple
                            >
                                <v-btn>
                                    <v-icon>mdi-format-bold</v-icon>
                                </v-btn>

                                <v-btn>
                                    <v-icon>mdi-format-italic</v-icon>
                                </v-btn>

                                <v-btn>
                                    <v-icon>mdi-format-underline</v-icon>
                                </v-btn>

                                <v-btn>
                                    <v-icon>mdi-format-color-fill</v-icon>
                                </v-btn>
                            </v-btn-toggle>
                        </v-col>
                        <v-col class="d-flex flex-column align-center">
                            <v-skeleton-loader
                                    width="700px"
                                    v-if="issueStore.progress_line"
                                    v-for="item in skeleton_items"
                                    :key="item"
                                    type="list-item-avatar-two-line, list-item-three-line, chip, chip, chip, chip"
                            >
                            </v-skeleton-loader>
                            <v-card
                                    width="700px"
                                    v-for="issue in issueStore.newIssues"
                                    :key="issue.issue.id"
                                    variant="outlined"
                                    style="margin-top: 10px;margin-left: 10px;margin-right: 10px;"
                                    :color="getColor(issue.issue.date_limit)"
                                    @click="showDialogObject(issue.issue.id)"
                            >
                                <template v-slot:title>
                                    <v-icon :icon="issue.propertys.type_icon"></v-icon> {{ issue.issue.title }}
                                </template>

                               <!-- <template v-slot:subtitle>
                                    {{ getDateFormat(issue.issue.date_limit) }}
                                </template>-->

                                <template v-slot:text>
                                    <div style="margin-bottom: 10px">{{getCutDiscreption(issue.issue.discreption)}}</div>
                                    <v-divider class="mx-4 mb-1"></v-divider>
                                    <div class="px-4">
                                        <v-chip-group>
                                            <v-chip variant="outlined" >{{ issue.propertys.project_name }}</v-chip>
                                            <v-chip variant="outlined" v-if="issue.propertys.sprint_name">{{ issue.propertys.sprint_name }}</v-chip>
                                            <v-chip variant="outlined" :prepend-icon="issue.propertys.kind_icon">{{ issue.propertys.kind_name }}</v-chip>
                                            <v-chip variant="outlined" >{{ issue.propertys.relevance_name }}</v-chip>
                                        </v-chip-group>
                                    </div>
                                </template>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-sheet>
            </v-col>
            <v-col
                    cols="6"
            >
                <v-sheet>
                    <v-row align="center">
                        <v-col class=" d-flex flex-column align-center">
                            <v-skeleton-loader
                                width="700px"
                                v-if="issueStore.progress_line"
                                v-for="item in skeleton_items"
                                :key="item"
                                type="list-item-avatar-two-line, list-item-three-line, chip, chip, chip, chip"
                            >
                            </v-skeleton-loader>
                            <v-card
                                    align-center
                                    width="700px"
                                    v-for="issue in issueStore.anotherIssues"
                                    :key="issue.issue.id"
                                    variant="outlined"
                                    style="margin-top: 10px;margin-left: 10px;margin-right: 10px;"
                                    :color="getColor(issue.issue.date_limit)"
                                    @click="showDialogObject(issue.issue.id)"
                            >
                                <template v-slot:title>
                                    <v-icon :icon="issue.propertys.type_icon"></v-icon> {{ issue.issue.title }}
                                </template>

                                <!--template v-slot:subtitle>
                                    {{ getDateFormat(issue.issue.date_limit) }}
                                </template-->

                                <template v-slot:text>
                                    <div style="margin-bottom: 10px">{{getCutDiscreption(issue.issue.discreption)}}</div>
                                    <v-divider class="mx-4 mb-1"></v-divider>
                                    <div class="px-4">
                                        <v-chip-group>
                                            <v-chip variant="outlined" >{{ issue.propertys.project_name }}</v-chip>
                                            <v-chip variant="outlined" v-if="issue.propertys.sprint_name">{{ issue.propertys.sprint_name }}</v-chip>
                                            <v-chip variant="outlined" :prepend-icon="issue.propertys.kind_icon">{{ issue.propertys.kind_name }}</v-chip>
                                            <v-chip variant="outlined" >{{ issue.propertys.relevance_name }}</v-chip>
                                        </v-chip-group>
                                    </div>
                                </template>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-sheet>
            </v-col>
        </v-row>
    </div>
    <v-btn @click="sort()">asdsa</v-btn>

    <!--<v-card width="600px"
            v-for="issue in issueStore.issues"
            :key="issue.issue.id"
            variant="outlined"
            style="margin-top: 10px;margin-left: 10px;margin-right: 10px;"
            :color="getColor(issue.issue.date_limit)"
            @click="showDialogObject(issue.issue.id)"
    >
        <template v-slot:title>
            <v-icon :icon="issue.propertys.type_icon"></v-icon> {{ issue.issue.title }}
        </template>

        <template v-slot:subtitle>
            <v-icon :icon="getIcon(issue.kind_id)"></v-icon> {{ getDateFormat(issue.issue.date_limit) }}
        </template>

        <template v-slot:text>
           <div style="margin-bottom: 10px">{{getCutDiscreption(issue.issue.discreption)}}</div>
            <v-divider class="mx-4 mb-1"></v-divider>
            <div class="px-4">
                <v-chip-group>
                    <v-chip variant="outlined" >{{ issue.propertys.project_name }}</v-chip>
                    <v-chip variant="outlined" v-if="issue.propertys.sprint_name">{{ issue.propertys.sprint_name }}</v-chip>
                    <v-chip variant="outlined" :prepend-icon="issue.propertys.kind_icon">{{ issue.propertys.kind_name }}</v-chip>
                    <v-chip variant="outlined" >{{ issue.propertys.relevance_name }}</v-chip>
                </v-chip-group>
            </div>
        </template>
    </v-card>-->


    <v-row justify="center">
        <v-dialog v-model="issueStore.issue_dialog" persistent max-width="700px">
            <v-card>
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Задача</span>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-progress-linear color="teal-darken-1"
                                   indeterminate
                                   v-if="progress_line_issue_dialog"
                ></v-progress-linear>

                <v-card-text>
                    <v-container>
                        <v-form ref="form_issue" lazy-validation>
                            <v-row>
                                <v-col class="padding_col" cols="12">
                                    <v-select
                                            label="Тип задачи"
                                            :items="basicStore.types"
                                            v-model="issueStore.issue.type_id"
                                            item-value="id"
                                            variant="outlined"
                                            dense
                                    >
                                        <template v-slot:selection="{ item }">
                                            <v-list-item slim :prepend-icon="item.raw.icon" :title="item.raw.name"></v-list-item>
                                        </template>
                                        <template v-slot:item="{ props, item }">
                                            <v-list-item v-bind="props" :prepend-icon="item.raw.icon" :title="item.raw.name"></v-list-item>
                                        </template>
                                        <template v-slot:no-data>
                                            <v-list-item slim>Нет данных</v-list-item>
                                        </template>
                                    </v-select>
                                </v-col>
                                <template v-if="issueStore.issue.type_id==1">
                                    <v-col class="padding_col" cols="12">
                                        <v-select
                                                label="Проект"
                                                :items="projectStore.projects"
                                                v-model="issueStore.issue.project_id"
                                                item-value="id"
                                                variant="outlined"
                                        >
                                            <template v-slot:selection="{ item }">
                                                <v-list-item slim :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:item="{ props, item }">
                                                <v-list-item v-bind="props" :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:no-data>
                                                <v-list-item slim>Нет данных</v-list-item>
                                            </template>
                                        </v-select>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-select
                                                label="Сплит"
                                                :items="sprintStore.sprints"
                                                v-model="issueStore.issue.sprint_id"
                                                item-value="id"
                                                variant="outlined"
                                                dense
                                        >
                                            <template v-slot:selection="{ item }">
                                                <v-list-item slim :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:item="{ props, item }">
                                                <v-list-item v-bind="props" :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:no-data>
                                                <v-list-item slim>Нет данных</v-list-item>
                                            </template>
                                        </v-select>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-text-field
                                                label="Наименование"
                                                v-model="issueStore.issue.title"
                                                variant="outlined"
                                                hint="Укажи заголовок"
                                                dense
                                        ></v-text-field>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-textarea
                                                label="Описание"
                                                variant="outlined"
                                                v-model="issueStore.issue.discreption"
                                                hint="Укажи описание"
                                                dense
                                        ></v-textarea>
                                    </v-col>
                                    <v-col class="padding_col" cols="6">
                                        <v-select
                                                label="Вид"
                                                hint="Выбери вид"
                                                :items="basicStore.kinds"
                                                v-model="issueStore.issue.kind_id"
                                                item-value="id"
                                                variant="outlined"
                                                dense
                                        >
                                            <template v-slot:selection="{ item }">
                                                <v-list-item slim :prepend-icon="item.raw.icon"  :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:item="{ props, item }">
                                                <v-list-item v-bind="props" :prepend-icon="item.raw.icon"  :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:no-data>
                                                <v-list-item slim>Нет данных</v-list-item>
                                            </template>
                                        </v-select>
                                    </v-col>
                                    <v-col class="padding_col" cols="6">
                                        <v-select
                                                label="Срок выполнения"
                                                :items="basicStore.relevances"
                                                v-model="issueStore.issue.relevance_id"
                                                item-value="id"
                                                variant="outlined"
                                                dense

                                        >
                                            <template v-slot:selection="{ item }">
                                                <v-list-item slim :prepend-icon="item.raw.icon"  :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:item="{ props, item }">
                                                <v-list-item v-bind="props" :prepend-icon="item.raw.icon"  :title="item.raw.name"></v-list-item>
                                            </template>
                                            <template v-slot:no-data>
                                                <v-list-item slim>Нет данных</v-list-item>
                                            </template>
                                        </v-select>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-menu
                                                v-model="menu_date_begin"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                max-width="290px"
                                                min-width="290px"
                                        >
                                            <template v-slot:activator="{ props }">
                                                <v-text-field
                                                        label="Начало"
                                                        prepend-icon="mdi-calendar"
                                                        variant="outlined"
                                                        v-model="date_limit_view"
                                                        v-bind="props"
                                                        readonly
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                    location="ru-ru"
                                                    v-model="date_limit"
                                                    :hide-header="true"
                                            ></v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-text-field
                                                label="ФИО инициатора"
                                                v-model="issueStore.issue.initiator"
                                                variant="outlined"
                                                hint="Укажи заголовок"
                                                dense
                                        ></v-text-field>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-text-field
                                                label="Контактный телефон"
                                                v-model="issueStore.issue.phone_initiator"
                                                variant="outlined"
                                                hint="Укажи заголовок"
                                                dense
                                        ></v-text-field>
                                    </v-col>
                                    <v-col class="padding_col" cols="12">
                                        <v-text-field
                                                label="Место"
                                                v-model="issueStore.issue.place_initiator"
                                                variant="outlined"
                                                hint="Укажи заголовок"
                                                dense
                                        ></v-text-field>
                                    </v-col>
                                </template>
                                <template v-else-if="issueStore.issue.type_id==2">
                                    <h1>2</h1>
                                </template>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="closeDialogObject"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="submitObject"
                    >
                        Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>

</template>


<script lang="ts">
    // уникальный код issue проект+спит+ номер

    // от типа задачи выводить icon и цыет - решение(возможно противоположный icon)
    // нельзя done task пока все sub-task не done либо is_active false
    // подумать про фильтрацию у обычных юзеров
    //is_active -  черновик - кто может делать(owner admin)

    // подумать какие данные и действия еще возможны для item issue
    // коммент и файлы
    // сравнниыать время и количество времени + дату перенести issue
    import _ from 'lodash';
    import moment from 'moment';

    import { defineComponent } from 'vue';
    import { mapActions } from 'pinia';
    import { mapStores } from 'pinia';

    import { useIssueStore } from '../stores/issue_store';
    import { useBasicStore } from '../stores/basic_store';
    import { useProjectStore } from '../stores/project_store';
    import { useSprintStore } from '../stores/sprint_store';
    import { getDateFormat, showRespondStatus }  from '../service/basic';
    import logger from "@fortawesome/vue-fontawesome/src/logger";


    export default  defineComponent({
        name: 'issue',
        data: () => ({
            snackbar: false as boolean,
            //progress_line: false as boolean,
            progress_line_issue_dialog:  false as boolean,
            destroy_dialog: false as boolean,
            text_snackbar: '' as string,
            color_snackbar: 'rgba(255, 82, 82, 0.9)' as string,
            timeout: 4e3 as number,
            errors: [] as string[],

            submit_type: 0 as number,
            current_id: 0 as number,

            menu_date_begin: false as boolean,

            skeleton_items: [1,2,3,4,5],
            toggle_multiple: [0, 1, 2],

        }),
        mounted() {
            this.issueStore.changeProgressLine();

            /*let promise = new Promise((resolve, reject)=>{
                //setTimeout(() => resolve("done!"), 1000);
                //  this.loadKinds();
                //  this.loadRelevances();
                 this.loadTypes().then(()=>{resolve()});

            });

            promise.then(
                (result)=>{
                    console.log("asdadasppp")
                    console.log(this.basicStore.types)
                    //this.loadObjects();
                    ///this.issueStore.changeProgressLine();

                },(error)=>{}
            );*/

            this.loadKinds();
            this.loadRelevances();
            this.loadTypes();

            setTimeout(() => {
                this.loadObjects();
            }, "4000");
        },
        computed: {
            ...mapStores(useIssueStore),
            ...mapStores(useBasicStore),
            ...mapStores(useProjectStore),
            ...mapStores(useSprintStore),

            date_limit:{
                get: function(){
                    return (this.issueStore.issue.date_limit ? new Date(Date.parse(this.issueStore.issue.date_limit)) : null);
                },
                set: function(newValue){
                    this.issueStore.issue.date_limit = newValue;
                    this.menu_date_begin = false;
                }
            },

            date_limit_view:{
                get: function(){
                    return (this.issueStore.issue.date_limit ? getDateFormat(this.issueStore.issue.date_limit) : null);
                },
                set: function(newValue){
                }
            },
        },
        watch: {
             'issueStore.issue.type_id': function(newValue: string, oldValue: string): void{
                 this.progress_line_issue_dialog = true;
                 this.loadProjects().then(()=>{
                     this.progress_line_issue_dialog = false;
                 });
             },

            'issueStore.issue.project_id': function(newValue: string, oldValue: string): void{
                this.progress_line_issue_dialog = true;
                this.loadSprintsByParams(newValue).then(()=>{
                    this.progress_line_issue_dialog = false;
                });
            },

            'issueStore.issue.relevance_id': function(newValue: string, oldValue: string): void{
                if(!!newValue){
                    let current_relevance = this.basicStore.relevances.filter(relevance => relevance.id == newValue)
                    let current_date = new Date();
                    let current_date_seconds  = Math.floor(current_date.getTime() / 1000);
                    let result_date = new Date((current_date_seconds + current_relevance[0].second_push) * 1000);
                    this.issueStore.issue.date_limit = result_date;
                }

            },
        },

        methods: {
            ...mapActions(useIssueStore, {
                changeFlagDialog: 'changeFlagDialog',
                clearIssue: 'clearIssue',
                loadIssue: 'loadIssue',
                createIssue:'createIssue',
                updateIssue: 'updateIssue',
                destroyIssue: 'destroyIssue',
            }),

            ...mapActions(useBasicStore, {
                loadTypes: 'loadTypes',
                loadKinds: 'loadKinds',
                loadStatuses: 'loadStatuses',
                loadRelevances: 'loadRelevances',
            }),

            ...mapActions(useProjectStore, {
                loadProjects: 'loadProjects',

            }),

            ...mapActions(useSprintStore, {
                loadSprintsByParams: 'loadSprintsByParams',

            }),

            loadObjects(): void{
                this.loadIssue().then((respond)=>{
                    showRespondStatus(
                        respond.status_error,
                        [],
                        'Список задач загружен',
                        'Ошибка загрузки списка задач',
                        false,
                        false,
                        this
                    );
                });
            },

            showDialogObject(id: number): void{
                this.issueStore.issue = _.cloneDeep(this.issueStore.issues.find(issue=>issue.issue.id==id).issue);
                this.changeFlagDialog();
                this.submit_type = 1;
                this.current_id = id;
            },

            submitObject(): void{
                this.$refs.form_issue.validate().then(e=>{
                    if(e.valid){
                        this.changeFlagDialog();
                        this.issueStore.changeProgressLine();
                        const token = document.querySelector('[name=csrf-token]').content

                        if(this.submit_type == 0){
                            this.createIssue(token).then((respond)=>{
                                showRespondStatus(
                                    respond.status_error,
                                    respond.message_error,
                                    'Задача успешно создана',
                                    'Ошибка создания задачи',
                                    true,
                                    true,
                                    this
                                );
                            });
                        }else if(this.submit_type == 1){
                            this.updateIssue(this.current_id, token).then((respond)=>{
                                showRespondStatus(
                                    respond.status_error,
                                    respond.message_error,
                                    'Задача успешно обновлена',
                                    'Ошибка обновления задачи',
                                    true,
                                    true,
                                    this
                                );
                            });
                        }
                    }
                });
            },

            closeDialogObject(): void{
                this.changeFlagDialog();
                this.clearObject();
            },

            showDialogDestroy(id: number,index: number): void{
                /*this.destroy_dialog = true;
                this.current_destroy_id = id;
                this.current_destroy_index = index;*/
            },

            destroyObject(flag: boolean): void{
                /*this.destroy_dialog = false;
                if(flag){
                    this.progress_line = true;
                    const token = document.querySelector('[name=csrf-token]').content;
                    this.destroyProject(this.current_destroy_id, this.current_destroy_index, token).then((respond)=>{
                        this.showRespondStatus(
                            respond.status_error,
                            'Проект успешно удален',
                            `Ошибка удаления проетка. ${respond.massege_error}`,
                            true,
                            false,
                            this
                        );
                    });
                }
                this.current_destroy_id = 0;
                this.current_destroy_index = 0;
                // удалять все связаное с ним*/
            },

            clearObject(): void{
                this.$refs.form_issue.resetValidation();
                this.submit_type = 0;
                this.issueStore.clearIssue();
            },

           /* showRespondStatus(status_error: boolean, massege_success: string, massege_error: string, modification_object_flag: boolean, clear_object_flag: boolean): void{
                if(status_error){
                    this.showSnackbar('rgba(255, 82, 82, 0.9)', massege_error);
                }else{
                    this.showSnackbar('rgba(85, 175, 80, 0.9)', massege_success);
                    if (modification_object_flag) this.loadObjects();
                    if (clear_object_flag) this.clearObject();
                }
                this.issueStore.changeProgressLine();
            },

            showSnackbar(color: string, text: string): void{
                this.color_snackbar = color;
                this.text_snackbar = text;
                this.snackbar = true;
            },*/


            getColor(date_limit: string): string{
                if(!!date_limit){
                    let current_date = new Date();
                    let current_date_seconds  = Math.floor(current_date.getTime() / 1000);
                    let date_limit_seconds = Math.floor(Date.parse(date_limit) / 1000);
                    let different_seconds = date_limit_seconds - current_date_seconds;

                    if(different_seconds < 86400){
                        return "red-darken-3"
                    }else if(86400 < different_seconds && different_seconds < 259200){
                        return "orange-darken-3"
                    }else if(259200 < different_seconds){
                        return "primary"
                    }
                }else{
                    return "primary"
                }
            },

            /*calDateLimit(event){
                console.log("event.target.value")
                console.log(event.target.value)
            },*/

            getCutDiscreption(text: string): string{
                let count_space=0;
                let data = '';
                for(const char of text){
                    if(char == ' '){ count_space++; }
                    if(count_space < 15){
                        data+= char;
                    }else{
                        break;
                    }
                }
                data+=' ...'
                return data
            },

           /* getDateFormat(date: string): string{
                //string|null
                return (date ? moment(date).format('DD.MM.YYYY') : 'Уточните дату');
            },*/

            sort(){

                /*let rang_e = {
                    first: 1,
                    second: 13,
                    laster: 50
                };
                rang_e[Symbol.iterator] = function() {
                    return {
                        current: this.first,
                        last: this.laster,

                        next() {
                            if (this.current <= this.last) {
                                return { done: false, value: this.current };
                            } else {
                                return { done: true };
                            }
                        }
                    };
                };
                for (let num of rang_e) {
                    console.log(num); // 1, затем 2, 3, 4, 5
                }*/

            }


        }
    })
</script>

<style>
</style>
