<script setup lang="ts">
    import _ from 'lodash';
    
    import { defineComponent, ref, reactive, computed ,onMounted, onUnmounted } from 'vue';
    import type { Ref } from 'vue'

    import { useProjectStore } from '../stores/project_store';
    import { getDateFormat, showRespondStatus }  from '../service/basic';

    const projectStore = useProjectStore();

    const snackbar = reactive({
        is_visible: false,
        text: '',
        color: 'rgba(255, 82, 82, 0.9)',
        timeout: 4e3,
        errors: []
    });

    const form_project: Ref<any> = ref(null);
    const progress_line: Ref<boolean> = ref(false);
    const destroy_dialog: Ref<boolean> = ref(false);
    const submit_type: Ref<number> = ref(0);
    const current_id: Ref<number> = ref(0);
    const menu_date_begin: Ref<boolean> = ref(false);
    const menu_date_end: Ref<boolean> = ref(false);
    const current_destroy_id: Ref<number> = ref(0);

    const name_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите наименование',
    ]);

    const discreption_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите описание',
    ])

    onMounted((): void => {
        progress_line.value = true;
        loadObjects();
    });    
    
    const project_begin = computed<Date | null>({
        get: function(){
            return (projectStore.project.begin ? new Date(Date.parse(projectStore.project.begin)) : null);
        },
        set: function(newValue: string){
            projectStore.project.begin = newValue;
            menu_date_begin.value = false;
        }
    });

    const project_begin_view = computed<string | null>({
        get: function(){
            return (projectStore.project.begin ? getDateFormat(projectStore.project.begin) : null);
        },
        set: function(newValue){
        }
    });

    const project_end = computed<Date | null>({
        get: function(){
            return (projectStore.project.end ? new Date(Date.parse(projectStore.project.end)) : null);
        },
        set: function(newValue){
            projectStore.project.end = newValue;
            menu_date_end.value = false;
        }
    });

    const project_end_view = computed<string | null>({
        get: function(){
            return (projectStore.project.end ? getDateFormat(projectStore.project.end) : null);
        },
        set: function(newValue){
        }
    });

    const loadObjects = (): void => {
        projectStore.loadProjects()
            .then((respond) => {
                showRespondStatus(
                    respond.status_error,
                    respond.message_error,
                    'Список проектов загружен',
                    'Ошибка загрузки списка проектов',
                    false,
                    false,
                    loadObjects,
                    clearObject,
                    snackbar
                );
            }).finally(() => {
                progress_line.value = false;
            });
    }

    const showDialogObject = (id: number): void => {
        projectStore.project = _.cloneDeep(projectStore.projects.find(project => project.id == id));
        projectStore.changeFlagDialog();
        submit_type.value = 1;
        current_id.value = id;
    }

    const submitObject = (): void => {
        form_project.value.validate().then((e) => {
            if(e.valid){
                projectStore.changeFlagDialog();
                progress_line.value = true;
                const token = document.querySelector('[name=csrf-token]').content;

                if(submit_type.value == 0){
                    projectStore.createProject(token)
                        .then((respond) => {
                            showRespondStatus(
                                respond.status_error,
                                respond.message_error,
                                'Проект успешно создан',
                                'Ошибка создания проетка',
                                true,
                                true,
                                loadObjects,
                                clearObject,
                                snackbar
                            );
                        }).finally(() => {
                            progress_line.value = false;
                        });
                }else if(submit_type.value == 1){
                    projectStore.updateProject(current_id.value, token, projectStore.project)
                        .then((respond) => {
                            showRespondStatus(
                                respond.status_error,
                                respond.message_error,
                                'Проект успешно обновлен',
                                'Ошибка обновления проетка',
                                true,
                                true,
                                loadObjects,
                                clearObject,
                                snackbar
                            );
                        }).finally(() => {
                            progress_line.value = false;
                        });
                }
            }
        });
    }

    const closeDialogObject = (): void => {
        projectStore.changeFlagDialog();
        clearObject();
    }

    const showDialogDestroy = (id: number): void => {
        destroy_dialog.value = true;
        current_destroy_id.value = id;
    }

    const destroyObject = (flag: boolean): void => {
        destroy_dialog.value = false;
        if(flag){
            progress_line.value = true;
            const token = document.querySelector('[name=csrf-token]').content;
            projectStore.destroyProject(current_destroy_id.value, token)
                .then((respond)=>{
                    showRespondStatus(
                        respond.status_error,
                        respond.message_error,
                        'Проект успешно удален',
                        `Ошибка удаления проетка`,
                        true,
                        false,
                        loadObjects,
                        clearObject,
                        snackbar
                    );
                }).finally(() => {
                    progress_line.value = false;
                });
        }
        current_destroy_id.value = 0;
        // delete object associated with it 
    }

    const clearObject = (): void => {
        form_project.value.resetValidation();
        submit_type.value = 0;
        projectStore.clearProject();
    }
</script>

<template>
    <v-snackbar v-model="snackbar.is_visible"
                :color="snackbar.color"
                :timeout="snackbar.timeout"
                location="bottom left"
    >
        {{ snackbar.text }}
        <ul style="margin-left: 25px">
            <li v-for="item in snackbar.errors" :key="item.id">{{ item }}</li>
        </ul>
        <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar.is_visible = false"
            >
                <v-icon>mdi-close-thick</v-icon>
            </v-btn>
        </template>
    </v-snackbar>

    <v-progress-linear color="teal-darken-1"
                       indeterminate
                       v-if="progress_line"
    ></v-progress-linear>

    <v-table>
        <thead>
        <tr>
            <th class="text-left">Наименование</th>
            <th class="text-left">Редактировать</th>
            <th class="text-left">Удалять</th>
        </tr>
        </thead>
        <tbody v-if="projectStore.projects.length">
        <tr v-for="(item, index) in projectStore.projects" :key="item.id">
            <td>{{ item.name }}</td>
            <td>
                <v-btn
                        color="teal-darken-1"
                        size="small"
                        icon
                        @click="showDialogObject(item.id)"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
            </td>
            <td>
                <v-btn
                        color="red-lighten-2"
                        size="small"
                        icon
                        @click="showDialogDestroy(item.id)">
                    <v-icon>mdi-trash-can-outline</v-icon>
                </v-btn>
            </td>
        </tr>
        </tbody>
    </v-table>

    <v-row justify="center">
        <v-dialog v-model="projectStore.project_dialog" persistent max-width="700px">
            <v-card>
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Проект</span>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-form ref="form_project" lazy-validation>
                            <v-row>
                                <v-col class="padding_col" cols="12">
                                    <v-text-field
                                            label="Наименование"
                                            v-model="projectStore.project.name"
                                            :rules="name_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-menu
                                            v-model="menu_date_begin"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                    >
                                        <template v-slot:activator="{ props }">
                                            <v-text-field
                                                    label="Начало"
                                                    v-model="project_begin_view"
                                                    prepend-icon="mdi-calendar"
                                                    variant="outlined"
                                                    v-bind="props"
                                                    readonly
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                                location="ru-ru"
                                                v-model="project_begin"
                                                :hide-header="true"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="6">
                                    <v-menu
                                            v-model="menu_date_end"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                    >
                                        <template v-slot:activator="{ props }">
                                            <v-text-field
                                                    label="Окончание"
                                                    v-model="project_end_view"
                                                    prepend-icon="mdi-calendar"
                                                    variant="outlined"
                                                    v-bind="props"
                                                    readonly
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                                location="ru-ru"
                                                v-model="project_end"
                                                :hide-header="true"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-textarea
                                            label="Описание"
                                            v-model="projectStore.project.discreption"
                                            :rules="discreption_rules"
                                            variant="outlined"
                                    ></v-textarea>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-switch
                                            label="Активность"
                                            v-model="projectStore.project.is_active"
                                            color="teal-darken-1"
                                            hide-details
                                            inset
                                    ></v-switch>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="closeDialogObject"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="submitObject"
                    >
                        Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>

   <v-row justify="center">
        <v-dialog v-model="destroy_dialog" persistent max-width="450">
            <v-card style="height: 200px">
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Удаление</span>
                </v-card-title>
                <v-card-text>Вы действительно хотите удалить проект?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="destroyObject(false)"
                            v-on:keyup.27="destroyObject(false)"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="destroyObject(true)"
                            v-on:keyup.13="destroyObject(true)"
                    >
                        Удалить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
 
<style>
</style>
