<script setup lang="ts">
    import _ from 'lodash';
    
    import { defineComponent, Ref, ref, reactive, computed ,onMounted, onUnmounted } from 'vue';
 
    import { useSprintStore } from '../stores/sprint_store';
    import { useProjectStore } from '../stores/project_store';
    import { getDateFormat, showRespondStatus }  from '../service/basic';

    const sprintStore = useSprintStore();
    const projectStore = useProjectStore();

    const snackbar = reactive({
        is_visible: false,
        text: '',
        color: 'rgba(255, 82, 82, 0.9)',
        timeout: 4e3,
        errors: []
    });

    const form_sprint: Ref<any> = ref(null);
    const progress_line: Ref<boolean> = ref(false);
    const destroy_dialog: Ref<boolean> = ref(false);
    const submit_type: Ref<number> = ref(0);
    const current_id: Ref<number> = ref(0);
    const menu_date_begin: Ref<boolean> = ref(false);
    const menu_date_end: Ref<boolean> = ref(false);
    const current_destroy_id: Ref<number> = ref(0);

    const project_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите проект',
    ]);
    const name_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите наименование',
    ]);
    const sprint_begin_view_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите дату',
    ]);
    const sprint_end_view_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите дату',
    ]);
    const discreption_rules: Ref<any[]> = ref([
        v => !!v || 'Укажите описание',
    ]);


    onMounted((): void => {
        progress_line.value = true;
        loadObjects();
        projectStore.loadProjects();
    });    

    const sprint_begin = computed<Date | null>({
        get: function(){
            return (sprintStore.sprint.begin ? new Date(Date.parse(sprintStore.sprint.begin)) : null);
        },
        set: function(newValue: string){
            sprintStore.sprint.begin = newValue;
            menu_date_begin.value = false;
        }
    });

    const  sprint_begin_view = computed<string | null>({
        get: function(){
            return (sprintStore.sprint.begin ? getDateFormat(sprintStore.sprint.begin) : null);
        },
        set: function(newValue){
        }
    });

    const sprint_end = computed<Date | null>({
        get: function(){
            return (sprintStore.sprint.end ? new Date(Date.parse(sprintStore.sprint.end)) : null);
        },
        set: function(newValue){
            sprintStore.sprint.end = newValue;
            menu_date_end.value = false;
        }
    });

    const sprint_end_view = computed<string | null>({
        get: function(){
            return (sprintStore.sprint.end ? getDateFormat(sprintStore.sprint.end) : null);
        },
        set: function(newValue){
        }
    });


    const loadObjects = (): void =>{
        sprintStore.loadSprints()
            .then((respond) => {
                showRespondStatus(
                    respond.status_error,
                    respond.message_error,
                    'Список спринтов загружен',
                    'Ошибка загрузки списка спринтов',
                    false,
                    false,
                    loadObjects,
                    clearObject,
                    snackbar
                ); 
            }).finally(() => {
                progress_line.value = false;
            });
    }

    const showDialogObject = (id: number): void => {
        // sprintStore.sprint = _.cloneDeep(sprintStore.sprints.find(sprint => sprint.id == id));
        Object.assign(sprintStore.sprint, sprintStore.sprints.find(sprint => sprint.id == id));
        sprintStore.changeFlagDialog();
        submit_type.value = 1;
        current_id.value = id;
    }

    const submitObject = (): void => {
        form_sprint.value.validate().then(e=>{
            if(e.valid){
                sprintStore.changeFlagDialog();
                progress_line.value = true;
                const token = document.querySelector('[name=csrf-token]').content

                if(submit_type.value == 0){
                    sprintStore.createSprint(token)
                       .then((respond) => {
                            showRespondStatus(
                                    respond.status_error,
                                    respond.message_error,
                                    'Спринт успешно создан',
                                    'Ошибка создания спринта',
                                    true,
                                    true,
                                    loadObjects,
                                    clearObject,
                                    snackbar
                                );
                    }).finally(() => {
                        progress_line.value = false;
                    });
                }else if(submit_type.value == 1){
                    sprintStore.updateSprint(current_id.value, token, sprintStore.sprint)
                        .then((respond)=>{
                             showRespondStatus(
                                respond.status_error,
                                respond.message_error,
                                'Спринт успешно создан',
                                'Ошибка создания спринта',
                                true,
                                true,
                                loadObjects,
                                clearObject,
                                snackbar
                            );
                    }).finally(() => {
                        progress_line.value = false;
                    });
                }
            }
        });
    }

    const closeDialogObject = (): void => {
        sprintStore.changeFlagDialog();
        clearObject();
    }

    const showDialogDestroy = (id: number): void => {
        destroy_dialog.value = true;
        current_destroy_id.value = id;
    }

    const destroyObject = (flag: boolean): void => {
       destroy_dialog.value = false;
        if(flag){
            progress_line.value = true;
            const token = document.querySelector('[name=csrf-token]').content;
            sprintStore.destroySprint(current_destroy_id.value, token)
                .then((respond) => {
                    showRespondStatus(
                        respond.status_error,
                        respond.message_error,
                        'Спринт успешно удален',
                        'Ошибка удаления спринта',
                        true,
                        false,
                        loadObjects,
                        clearObject,
                        snackbar
                    );
                }).finally(() => {
                    progress_line.value = false;
                });
        }
        current_destroy_id.value = 0;
        // удалять все связаное с ним
    }

    const clearObject = (): void => {
        form_sprint.value.resetValidation();
        submit_type.value = 0;
        sprintStore.clearSprint();
    }
</script>


<template>
    <v-snackbar v-model="snackbar.is_visible"
                :color="snackbar.color"
                :timeout="snackbar.timeout"
                location="bottom left"
    >
        {{ snackbar.text }}
        <ul style="margin-left: 25px">
            <li v-for="item in snackbar.errors" :key="item.id">{{ item }}</li>
        </ul>
        <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar.is_visible = false"
            >
                <v-icon>mdi-close-thick</v-icon>
            </v-btn>
        </template>
    </v-snackbar>

    <v-progress-linear color="teal-darken-1"
                       indeterminate
                       v-if="progress_line"
    ></v-progress-linear>

    <v-table>
        <thead>
            <tr>
                <th class="text-left">Наименование</th>
                <th class="text-left">Редактировать</th>
                <th class="text-left">Удалять</th>
            </tr>
        </thead>
        <tbody v-if="sprintStore.sprints.length">
            <tr v-for="(item, index) in sprintStore.sprints" :key="item.id">
                <td>{{ item.name }}</td>
                <td>
                    <v-btn
                            color="teal-darken-1"
                            size="small"
                            icon
                            @click="showDialogObject(item.id)"
                    >
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </td>
                <td>
                    <v-btn
                            color="red-lighten-2"
                            size="small"
                            icon
                            @click="showDialogDestroy(item.id)">
                        <v-icon>mdi-trash-can-outline</v-icon>
                    </v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>

    <v-row justify="center">
        <v-dialog v-model="sprintStore.is_active_sprint_dialog" persistent max-width="700px">
            <v-card>
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Спринт</span>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-form ref="form_sprint" lazy-validation>
                            <v-row>
                                <v-col class="padding_col" cols="12">
                                    <v-select
                                            label="Проект"
                                            :items="projectStore.projects"
                                            v-model="sprintStore.sprint.project_id"
                                            :rules="project_rules"
                                            item-value="id"
                                            variant="outlined"
                                    >
                                        <template v-slot:selection="{ item }">
                                            <v-list-item slim :title="item.raw.name"></v-list-item>
                                        </template>
                                        <template v-slot:item="{ props, item }">
                                            <v-list-item v-bind="props" :title="item.raw.name"></v-list-item>
                                        </template>
                                        <template v-slot:no-data>
                                            <v-list-item slim>Нет данных</v-list-item>
                                        </template>
                                    </v-select>
                                </v-col>

                                <v-col class="padding_col" cols="12">
                                    <v-text-field
                                            label="Наименование"
                                            v-model="sprintStore.sprint.name"
                                            :rules="name_rules"
                                            variant="outlined"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-menu
                                            v-model="menu_date_begin"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                    >
                                        <template v-slot:activator="{ props }">
                                            <v-text-field
                                                    label="Начало"
                                                    v-model="sprint_begin_view"
                                                    :rules="sprint_begin_view_rules"
                                                    prepend-icon="mdi-calendar"
                                                    variant="outlined"
                                                    v-bind="props"
                                                    readonly
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                                location="ru-ru"
                                                v-model="sprint_begin"
                                                :hide-header="true"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="6">
                                    <v-menu
                                            v-model="menu_date_end"
                                            :close-on-content-click="false"
                                            :nudge-right="40"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="290px"
                                    >
                                        <template v-slot:activator="{ props }">
                                            <v-text-field
                                                    label="Окончание"
                                                    v-model="sprint_end_view"
                                                    :rules="sprint_end_view_rules"
                                                    prepend-icon="mdi-calendar"
                                                    variant="outlined"
                                                    v-bind="props"
                                                    readonly
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                                location="ru-ru"
                                                v-model="sprint_end"
                                                :hide-header="true"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-textarea
                                            label="Описание"
                                            v-model="sprintStore.sprint.discreption"
                                            :rules="discreption_rules"
                                            variant="outlined"
                                    ></v-textarea>
                                </v-col>
                                <v-col class="padding_col" cols="12">
                                    <v-switch
                                            label="Активность"
                                            color="teal-darken-1"
                                            v-model="sprintStore.sprint.is_active"
                                            hide-details
                                            inset
                                    ></v-switch>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="closeDialogObject"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="submitObject"
                    >
                        Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>

    <v-row justify="center">
        <v-dialog v-model="destroy_dialog" persistent max-width="450">
            <v-card style="height: 200px">
                <v-card-title
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    <span class="headline">Удаление</span>
                </v-card-title>
                <v-card-text>Вы действительно хотите удалить спринт?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            variant="tonal"
                            color="blue-grey-darken-1"
                            @click="destroyObject(false)"
                            v-on:keyup.27="destroyObject(false)"
                    >
                        Закрыть
                    </v-btn>
                    <v-btn
                            variant="tonal"
                            color="teal-darken-1"
                            @click="destroyObject(true)"
                            v-on:keyup.13="destroyObject(true)"
                    >
                        Удалить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style scoped>

</style>