<template>
    <v-row
            align="center"
            justify="center"
            style="max-width: unset;"
    >
        <v-col
                cols="12"
                sm="12"
                md="6"
                lg="5"
        >
            <v-card outlined>
                <v-card-title
                        style="margin-bottom: 15px;height: 60px; font-size: 20px;"
                        class="bg-blue-grey-darken-3"
                        dark
                >
                    AmurSU toDo list
                </v-card-title>
                <v-card-text>
                    <v-text-field
                            id="account_email"
                            label="E-mail"
                            name="account[email]"
                            prepend-icon="mdi-account"
                            type="email"
                            variant="outlined"
                    ></v-text-field>
                    <v-text-field
                            id="account_password"
                            label="Пароль"
                            name="account[password]"
                            prepend-icon="mdi-lock"
                            variant="outlined"
                            type="password"
                    ></v-text-field>
                    <v-btn
                            variant="tonal"
                            style="margin: 5px"
                            type="submit"
                            size="large"
                            color="blue-grey-darken-3"
                            block
                    >
                        Продолжить
                    </v-btn>
                </v-card-text>
                <slot name="errors"></slot>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
    export default {
        name: "new-account-session",
             data: () => ({
        }),
    }
</script>

<style scoped>
</style>
