<template>
    <v-app id="inspire" class="diagonal-gradient">
        <v-container
                class="fill-height"
                fluid
        >
            <slot></slot>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "public-layout"
    }
</script>

<style>
    .diagonal-gradient {
        /*background: linear-gradient(to bottom right, #37474f 50%, #00897b);*/
        /*background: linear-gradient(to bottom right, #37474f, #1A237E);*/
        /*background: #182653;*/
        /*background: #171b2a;*/
        /*background: #161b38;*/
        /*background: #37474f;*/
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(246, 246, 246, 0.5);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(229, 229, 229, 1);
        border-radius: 20px;
        /*border: 5px solid #fff;*/
    }
    input[type=time]::-webkit-inner-spin-button,
    input[type=date]::-webkit-inner-spin-button,
    input[type=date]::-webkit-calendar-picker-indicator {
        display: none;
    }
    html {
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
