<!DOCTYPE html>
<html>
  <head>
    <title>Вход</title>
    <meta charset="utf-8" >
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'public' %>
  </head>
  <body id="app_public">
    <%= yield %>
  </body>
</html>
